.App {
  margin: 5vh;
  min-height: 70vh;
  /* text-align: center; */
}
.groupCardHover:hover {
  transform: scale(1.2);
}
.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -10px;
}
.team-card a div {
  margin: 0;
}
.remove-effect {
  background: inherit;
  width: inherit;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a:hover {
  color: inherit;
}

.nav-router {
  display: block;
  padding: 8px;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-router:hover {
  color: var(--bs-nav-link-hover-color);
}
footer {
  /* position: fixed; */
  bottom: 0;
  background-color: rgba(59, 59, 59, 0.5);
  text-align: center;
  font-weight: 500;
  height: 10vh;
  width: auto;
  margin: auto;
  padding-bottom: 20px;
}

footer p {
  color: #000000;
}
